* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: orange;
    color: rgba(0, 0, 0,.4);
    padding-top: 50px;
}

h2 {
    color: rgba(255,0,0, .5);
    font-weight: 500;
}
p {
    margin: 0.5rem 0;
}

.todo__container {
    width: 30rem;
    height: 82vh;
    border-radius: 3px;
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
}

.input__box {
    display: flex;
    margin-top: 1rem;
}
.input {
    flex: 1;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid rgba(0, 0, 0,.3);
    font-style: italic;
    color: rgba(0, 0, 0,.3);
    border-radius: 3px;
    font-size: 1rem;
}

.display__day {
    margin-top: 1rem;
}

.todo__list--pending {
    flex: 1;
}
.show-in {
    animation-name: show-in;
    animation-duration: 1s;
} 
.todo {
    background-color: rgba(0, 0, 0,.1);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    position: relative;
    
}
.input-label-box {
    display: flex;
    align-items: center;
}
@keyframes show-in {
    0%{
        opacity: 0;
        width: 0
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

.todo:hover.todo::after {
    position: absolute;
    content: "\f014";
    font-family: FontAwesome;
    right: 0;
    background-color: red;
    height: 100%;
    width: 2.5rem;
    cursor: pointer;
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
    animation-name: fade-in;
    animation-duration: 1s;
}
@keyframes fade-in {
    0% {
        width: 0;
        content:'';
    }
    100% {
        width: 2.5rem;
        content: "\f014";
    }
}

.trash {
    width: 2.5rem;
    height: 1.5rem;
    z-index: 10;
    cursor: pointer;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
input[type='checkbox']:checked {
    display: none;
}
input[type='checkbox']:checked + label::before {
    content: '\2713';
    color: red;
    background-color: rgba(0, 0, 0,.01);
    text-align: center;
    display: inline-block;
    width: 1.5rem;
    margin-right: .5rem;
    border: 1px solid rgba(0, 0, 0,.3);
    font-weight: 900;
}
label {
    margin-left: 0.5rem;
}
input[type='checkbox']:checked + label {
    margin-left: 0;
    text-decoration: line-through;
}

button {
    border: none;
    background: none;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
}
button:not([type=submit]) {
    margin-top: 0.3rem;
}
.add {
    background-color: rgba(0, 0, 0,.1);
    color: #fff;
    font-size: 1.5rem;
}
.add:hover {
    background-color: royalblue;
}
.footer__btn--complete:hover, .footer__btn--clear:hover {
    background-color: rgba(0, 0, 0,.15);
    color: #fff;
}
.todo__footer {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}
.checked {
    background-color: #fff;
}